body{
    background: #fffff8;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

#app{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 600px;
    min-height:100vh;
    margin: 0 auto;
    color: #000;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
}

.holder{
    /* width: 100%; */
}

.entry{
    background: rgba(59, 74, 107, .4);
}

#entryHolder{

}

#date{

}

#temp{

}

#content{

}

.headline {
    text-align: center;
    margin-bottom: 20px;
}
.title{

}

/*  Basic Styling To Override Default For Basic HTML Elements */
label{
    display:block;
    font-size: 27px;
}

input{
    display:block;
    height: 60px;
    width: 100%;
    background:#fffff8;
    color: #000;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    border: 2px solid black;
    margin-bottom: 20px;
}

button{
    padding: 40px;
    width: 100%;
    background: rgba(59, 74, 107, .4);
    color: #000;
    font-size: 26px;
    font-family: 'Oswald', sans-serif;
    border: 3px solid #000;
    box-shadow: 2px 4px 5px #444;
    margin-bottom: 20px;
}
h1{
    font-size: 36px;
}

textarea{
    width: 100%;
    background:#fff;
    color: #000;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    border: 2px solid #000;
    margin-bottom: 20px;
}
/* Reset style for HTML element on active to have no border*/
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
/* Style for Placeholder Text*/
::placeholder { /* Firefox, Chrome, Opera */ 
    color: #f0d43a; 
    font-family: 'Oswald', sans-serif;

} 
  
:-ms-input-placeholder { /* Internet Explorer 10-11 */ 
    color: #f0d43a; 
    font-family: 'Oswald', sans-serif;

} 
  
::-ms-input-placeholder { /* Microsoft Edge */ 
    color: #f0d43a; 
    font-family: 'Oswald', sans-serif;

} 